# dependencies
node_modules

# testing
coverage

# apps
build
dist

# other
uploads/
server/database/generated

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
tsconfig.tsbuildinfo

# local env files
.env

# turbo
.turbo