@media (max-width: 500px) {
  .error {
    font-size: 13px;
  }
  .form .form-input-container .form-input-label {
    font-size: 15px;
  }
  .form .form-input-container .form-input {
    width: 200px;
    font-size: 13px;
  }
  .form .form-input-container .form-input[type="submit"] {
    min-width: auto;
  }
  .form .form-text-container .form-text {
    font-size: 13px;
  }
  .home {
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .home .header-title {
    font-size: 40px;
  }
  .home .header-buttons .header-button {
    min-width: 150px;
    height: 40px;
    padding: 0;
  }
  .home .header-infos {
    display: none;
  }
  .navbar .hamburger {
    display: block;
  }
  .navbar .navbar-logo-items-container {
    float: unset;
  }
  .navbar .navbar-logo-items-container .navbar-logo-items .navbar-logo-item {
    font-size: 20px;
    width: 100%;
    margin: 0;
  }
  .navbar .navbar-links-items-container {
    display: none;
    float: unset;
    overflow: hidden;
  }
  .navbar .navbar-links-items-container .navbar-links-items .navbar-links-item {
    width: 100%;
    float: unset;
  }
  .navbar .navbar-links-items-container .navbar-links-items .navbar-links-item .navbar-link {
    font-size: 20px;
    margin-right: 0;
  }
  .account .books {
    display: block;
  }
  .account .books .free-books-container .free-books-header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .account .books .free-books-container .free-books-header .free-books-title {
    font-size: 18px;
    padding: 5px 0px;
  }
  .account .books .free-books-container .free-books-header .free-books-search .free-books-search-button {
    font-size: 15px;
  }
  .account .books .free-books-container .free-books-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .account .books .paid-books-container .paid-books-header .paid-books-title {
    font-size: 18px;
  }
  .account .books .paid-books-container .paid-books-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .profile .books {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .profile .books .bought-books-container .bought-books-title {
    font-size: 18px;
  }
  .profile .books .bought-books-container .bought-books-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .profile .books .borrowed-books-container .borrowed-books-header .borrowed-books-title {
    font-size: 18px;
  }
  .profile .books .borrowed-books-container .borrowed-books-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .profile .books .info-container {
    display: none;
  }
  .cart .summary {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .cart .summary .selected-books-container .selected-books-header .selected-books-title {
    font-size: 18px;
  }
  .cart .summary .selected-books-container .selected-books-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .cart .summary .summary-books-container {
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
    padding-top: 10px;
  }
  .cart .summary .summary-books-container .summary-books-header .summary-books-title {
    font-size: 18px;
  }
  .cart .summary .summary-books-container .summary-books-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: 30px;
  }
  .cart .summary .summary-books-container .summary-books-items .summary-book-item {
    font-size: 15px;
  }
  .cart .summary .summary-books-container .summary-books-items .summary-book-item .summary-book-title {
    margin: 0px 10px;
  }
  .cart .summary .summary-books-container .summary-books-items .summary-book-item .summary-book.price {
    margin: 0px 10px;
  }
  .cart .summary .total {
    font-size: 18px;
  }
  .cart .summary .total .total-price {
    margin: 5px 0px;
  }
  .cart .summary .total .paypal-button {
    margin: 10px 0px 0px;
  }
  .modal .modal-content {
    width: 80%;
    height: 80%;
  }
  .modal .modal-content .image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .modal .modal-content .details {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
  }
  .modal .modal-content .details .book-author,
  .modal .modal-content .details .book-price,
  .modal .modal-content .details .book-title {
    font-size: 12px;
  }
  .modal .modal-content .details .text {
    font-weight: bold;
    font-size: 13px;
  }
  .modal .modal-content .choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
    padding: 0px;
    margin-bottom: 0px;
  }
  .modal .modal-content .choice .text {
    font-size: 13px;
  }
  .modal .modal-content .choice .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal .modal-content .choice .buttons .button {
    display: block;
    margin: 0px 0px;
    margin-top: 10px;
    min-width: auto;
    font-size: 12px;
    padding: 3px 15px;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .error {
    font-size: 15px;
  }
  .home {
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .home .header-title {
    font-size: 40px;
  }
  .home .header-infos {
    display: none;
  }
  .navbar .hamburger {
    display: block;
  }
  .navbar .navbar-logo-items-container {
    float: unset;
  }
  .navbar .navbar-logo-items-container .navbar-logo-items .navbar-logo-item {
    font-size: 20px;
    width: 100%;
    margin: 0;
  }
  .navbar .navbar-links-items-container {
    display: none;
    float: unset;
  }
  .navbar .navbar-links-items-container .navbar-links-items .navbar-links-item {
    width: 100%;
    float: unset;
  }
  .navbar .navbar-links-items-container .navbar-links-items .navbar-links-item .navbar-link {
    font-size: 20px;
    margin-right: 0;
  }
  .account .books {
    display: block;
  }
  .account .books .free-books-container .free-books-header {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .account .books .free-books-container .free-books-header .free-books-title {
    font-size: 18px;
    padding: 5px 0px;
  }
  .account .books .free-books-container .free-books-header .free-books-search .free-books-search-button {
    font-size: 18px;
  }
  .account .books .free-books-container .free-books-items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .account .books .paid-books-container .paid-books-header .paid-books-title {
    font-size: 18px;
  }
  .account .books .paid-books-container .paid-books-items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .profile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .profile .books {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .profile .books .bought-books-container .bought-books-title {
    font-size: 18px;
  }
  .profile .books .bought-books-container .bought-books-items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .profile .books .borrowed-books-container .borrowed-books-header .borrowed-books-title {
    font-size: 18px;
  }
  .profile .books .borrowed-books-container .borrowed-books-items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .profile .books .info-container {
    display: none;
  }
  .cart .summary {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .cart .summary .selected-books-container .selected-books-header .selected-books-title {
    font-size: 18px;
  }
  .cart .summary .selected-books-container .selected-books-items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .cart .summary .summary-books-container {
    padding-top: 10px;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
  }
  .cart .summary .summary-books-container .summary-books-header .summary-books-title {
    font-size: 18px;
  }
  .cart .summary .summary-books-container .summary-books-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: 30px;
  }
  .cart .summary .summary-books-container .summary-books-items .summary-book-item {
    font-size: 15px;
  }
  .cart .summary .summary-books-container .summary-books-items .summary-book-item .summary-book-title {
    margin: 0px 10px;
  }
  .cart .summary .summary-books-container .summary-books-items .summary-book-item .summary-book.price {
    margin: 0px 10px;
  }
  .cart .summary .total {
    font-size: 18px;
  }
  .cart .summary .total .total-price {
    margin: 5px 0px;
  }
  .cart .summary .total .paypal-button {
    margin: 10px 0px 0px;
  }
  .modal .modal-content {
    width: 80%;
    height: 80%;
  }
  .modal .modal-content .image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .modal .modal-content .details {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
  }
  .modal .modal-content .details .book-author,
  .modal .modal-content .details .book-price,
  .modal .modal-content .details .book-title {
    font-size: 13px;
  }
  .modal .modal-content .details .text {
    font-weight: bold;
    font-size: 15px;
  }
  .modal .modal-content .choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
    padding: 0px;
    margin-bottom: 0px;
  }
  .modal .modal-content .choice .text {
    font-size: 15px;
  }
  .modal .modal-content .choice .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal .modal-content .choice .buttons .button {
    display: block;
    margin: 0px 0px;
    margin-top: 10px;
    min-width: auto;
    font-size: 12px;
    padding: 5px 15px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .error {
    font-size: 15px;
  }
  .home {
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .home .header-title {
    font-size: 40px;
  }
  .home .header-infos {
    display: none;
  }
  .account .books {
    display: -ms-grid;
    display: grid;
  }
  .account .books .free-books-container .free-books-header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .account .books .free-books-container .free-books-header .free-books-title {
    font-size: 20px;
    padding: 5px 0px;
  }
  .account .books .free-books-container .free-books-header .free-books-search .free-books-search-button {
    font-size: 18px;
  }
  .account .books .free-books-container .free-books-items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .account .books .paid-books-container .paid-books-header .paid-books-title {
    font-size: 20px;
  }
  .account .books .paid-books-container .paid-books-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .profile .books {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .profile .books .bought-books-container .bought-books-title {
    font-size: 18px;
  }
  .profile .books .bought-books-container .bought-books-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .profile .books .borrowed-books-container .borrowed-books-header .borrowed-books-title {
    font-size: 18px;
  }
  .profile .books .borrowed-books-container .borrowed-books-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .profile .books .info-container {
    display: none;
  }
  .cart .summary {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .cart .summary .selected-books-container .selected-books-header .selected-books-title {
    font-size: 18px;
  }
  .cart .summary .selected-books-container .selected-books-items {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .cart .summary .summary-books-container {
    -ms-grid-rows: 80px 1fr auto;
        grid-template-rows: 80px 1fr auto;
  }
  .cart .summary .summary-books-container .summary-books-header .summary-books-title {
    font-size: 18px;
  }
  .cart .summary .summary-books-container .summary-books-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: 30px;
  }
  .cart .summary .summary-books-container .summary-books-items .summary-book-item {
    font-size: 18px;
  }
  .cart .summary .summary-books-container .summary-books-items .summary-book-item .summary-book-title {
    margin: 0px 10px;
  }
  .cart .summary .summary-books-container .summary-books-items .summary-book-item .summary-book.price {
    margin: 0px 10px;
  }
  .cart .summary .total {
    font-size: 18px;
  }
  .cart .summary .total .total-price {
    margin: 5px 0px;
  }
  .cart .summary .total .paypal-button {
    margin: 10px 0px 0px;
  }
  .modal .modal-content {
    width: 80%;
    height: 80%;
  }
  .modal .modal-content .image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
  }
  .modal .modal-content .details {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .modal .modal-content .details .book-author,
  .modal .modal-content .details .book-price,
  .modal .modal-content .details .book-title {
    font-size: 15px;
  }
  .modal .modal-content .details .text {
    font-weight: bold;
    font-size: 18px;
  }
  .modal .modal-content .choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
    padding: 0px;
    margin-bottom: 0px;
  }
  .modal .modal-content .choice .text {
    font-size: 18px;
  }
  .modal .modal-content .choice .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal .modal-content .choice .buttons .button {
    display: block;
    margin: 0px 0px;
    margin-top: 10px;
    min-width: auto;
    font-size: 15px;
    padding: 5px 15px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .error {
    font-size: 15px;
  }
  .home {
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .home .header-title {
    font-size: 40px;
  }
  .home .header-infos {
    display: none;
  }
  .account .books {
    display: -ms-grid;
    display: grid;
  }
  .account .books .free-books-container .free-books-header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .account .books .free-books-container .free-books-header .free-books-title {
    font-size: 20px;
    padding: 5px 0px;
  }
  .account .books .free-books-container .free-books-header .free-books-search .free-books-search-button {
    font-size: 18px;
  }
  .account .books .free-books-container .free-books-items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .account .books .paid-books-container .paid-books-header .paid-books-title {
    font-size: 20px;
  }
  .account .books .paid-books-container .paid-books-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .profile .books {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .profile .books .bought-books-container .bought-books-title {
    font-size: 18px;
  }
  .profile .books .bought-books-container .bought-books-items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .profile .books .borrowed-books-container .borrowed-books-header .borrowed-books-title {
    font-size: 18px;
  }
  .profile .books .borrowed-books-container .borrowed-books-items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .profile .books .info-container {
    display: none;
  }
  .cart .summary {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .cart .summary .selected-books-container .selected-books-header .selected-books-title {
    font-size: 22px;
  }
  .cart .summary .selected-books-container .selected-books-items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .cart .summary .summary-books-container {
    -ms-grid-rows: 80px 1fr auto;
        grid-template-rows: 80px 1fr auto;
  }
  .cart .summary .summary-books-container .summary-books-header .summary-books-title {
    font-size: 22px;
  }
  .cart .summary .summary-books-container .summary-books-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: 30px;
  }
  .cart .summary .summary-books-container .summary-books-items .summary-book-item {
    font-size: 20px;
  }
  .cart .summary .summary-books-container .summary-books-items .summary-book-item .summary-book-title {
    margin: 0px 10px;
  }
  .cart .summary .summary-books-container .summary-books-items .summary-book-item .summary-book.price {
    margin: 0px 10px;
  }
  .cart .summary .total {
    font-size: 20px;
  }
  .cart .summary .total .total-price {
    margin: 5px 0px;
  }
  .cart .summary .total .paypal-button {
    margin: 10px 0px 0px;
  }
}
/*# sourceMappingURL=index.css.map */