<!-- see README.md '#-environment-details' section for more details -->

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_NAME=

DATABASE_URL=

JWT_KEY=

NODEMAILER_USERNAME=
NODEMAILER_TEST_USER=
NODEMAILER_TEST_PASSWORD=

MAILJET_USER=
MAILJET_PASSWORD=

PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=

PRIVATE_VAPID_KEY=
VITE_PUBLIC_VAPID_KEY=

VITE_FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

STRIPE_SECRET_KEY=

SEQUELIZE_AUTO=

SEED_BOOKS=

SEED_USER=
