* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Indie Flower", cursive;
  overflow-x: hidden;
}

.error {
  color: red;
  text-align: center;
  font-weight: bold;
  width: 310px;
}

.success {
  color: green;
  text-align: center;
  font-weight: bold;
}

.form-link-container {
  text-align: center;
  padding-top: 15px;
  .form-link {
    text-decoration: none;
    color: black;
    color: white;

    &:hover {
      color: black;
      font-weight: bold;
    }
  }
}

.home {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home-bg.jpg") no-repeat center center;
  background-size: cover;
  display: grid;
  grid-template-rows: 55% 45%;

  .home-welcome {
    display: flex;
    justify-content: center;
    color: white;

    .home-welcome-text {
      font-size: 35px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      .buttons {
        padding-top: 20px;

        .btn {
          width: 250px;
          height: 45px;
          display: block;
          margin: 25px 0px;
          border: none;
          border-left: 2px solid white;
          border-right: 2px solid white;
          outline: none;
          background: #333;
          color: white;
          font-family: "Indie Flower", cursive;
          font-size: 20px;

          &:hover {
            border: 2px solid white;
            cursor: pointer;
          }
        }
      }
    }
  }

  .home-boxes {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    .home-box {
      margin-bottom: 50px;
      width: 200px;
      height: 200px;
      border-bottom: 4px solid white;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      .home-box-text {
        text-transform: uppercase;
        color: white;
        font-size: 27px;
      }
    }
  }
}

.register {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/home-bg.jpg") no-repeat center center;
  background-size: cover;
  display: flex;

  .register-form {
    margin: auto;
    padding: 30px;

    .input {
      margin: 20px 0px;
      position: relative;

      label {
        display: block;
        font-weight: bold;
        font-size: 20px;
        color: black;
        margin-bottom: 5px;
      }

      .register-input[type="text"],
      .register-input[type="password"] {
        width: 300px;
        height: 35px;
        display: block;
        outline: none;
        border: none;
        border-bottom: 3px solid white;
        background: none;
        text-indent: 10px;
        font-family: "Indie Flower", cursive;
        font-size: 15px;
        color: white;

        &::placeholder {
          color: white;
        }

        &:not(:placeholder-shown) {
          border-left: 3px solid white;
        }
      }
      .register-input[type="submit"] {
        width: 300px;
        height: 35px;
        margin-top: 30px;
        outline: none;
        border: 3px solid white;
        background: none;
        text-indent: 10px;
        font-family: "Indie Flower", cursive;
        font-size: 15px;
        color: white;
      }
    }
  }
}

.login {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/home-bg.jpg") no-repeat center center;
  background-size: cover;
  display: flex;

  .login-form {
    margin: auto;
    padding: 30px;

    .input {
      margin: 20px 0px;
      position: relative;

      label {
        display: block;
        font-weight: bold;
        font-size: 20px;
        color: black;
        margin-bottom: 5px;
      }

      .login-input[type="text"],
      .login-input[type="password"] {
        width: 300px;
        height: 35px;
        display: block;
        outline: none;
        border: none;
        border-bottom: 3px solid white;
        background: none;
        text-indent: 10px;
        font-family: "Indie Flower", cursive;
        font-size: 15px;
        color: white;

        &::placeholder {
          color: white;
        }

        &:not(:placeholder-shown) {
          border-left: 3px solid white;
        }
      }

      .login-input[type="submit"] {
        width: 300px;
        height: 35px;
        margin-top: 30px;
        outline: none;
        border: 3px solid white;
        background: none;
        text-indent: 10px;
        font-family: "Indie Flower", cursive;
        font-size: 15px;
        color: white;
      }
    }
  }
}
