* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

.darkfullsize {
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/home-bg.jpg") no-repeat center center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home-bg.jpg") no-repeat center center;
  background-size: cover;
}

.fullsize {
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../img/home-bg.jpg") no-repeat center center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/home-bg.jpg") no-repeat center center;
  background-size: cover;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fullflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullflexaround {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullflexcolumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error,
.success {
  font-weight: bold;
  color: red;
}

.success {
  color: green;
}

.button {
  min-width: 200px;
  min-height: 50px;
  background: #333;
  border: none;
  color: white;
  font-size: 15px;
  padding: 10px;
  border-right: 3px solid white;
  border-left: 3px solid white;
  margin: 10px 0px;
}

.button:hover {
  cursor: pointer;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 100px;
}

.info {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form {
  padding: 30px;
  margin: auto;
}

.form .form-input-container {
  margin: 30px 0px;
  position: relative;
}

.form .form-input-container .form-input-label {
  text-align: left;
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: black;
  margin-bottom: 5px;
}

.form .form-input-container .form-input {
  width: 100%;
  height: 35px;
  display: block;
  outline: none;
  border: none;
  border-bottom: 3px solid white;
  background: none;
  text-indent: 10px;
  font-size: 15px;
  color: white;
  text-align: left;
}

.form .form-input-container .form-input::-webkit-input-placeholder {
  color: white;
}

.form .form-input-container .form-input:-ms-input-placeholder {
  color: white;
}

.form .form-input-container .form-input::-ms-input-placeholder {
  color: white;
}

.form .form-input-container .form-input::placeholder {
  color: white;
}

.form .form-input-container .form-input:not(:placeholder-shown) {
  border-left: 3px solid white;
}

.form .form-input-container .form-input[type="submit"] {
  min-width: 250px;
  border: 3px solid white;
  text-align: center;
}

.form .form-text-container {
  margin-top: 10px;
}

.form .form-text-container .form-text {
  text-decoration: none;
  color: black;
  color: white;
}

.form .form-text-container .form-text:hover {
  color: black;
  font-weight: bold;
}

.home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.home .header-info {
  max-width: 200px;
  height: 200px;
}

.register .register-form {
  margin: auto;
}
/*# sourceMappingURL=index.css.map */