* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.darkfullsize {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/home-bg.jpg') no-repeat center center;
    background-size: cover;
}

.fullsize {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/home-bg.jpg') no-repeat center center;
    background-size: cover;
}

.flex {
    display: flex;
}

.fullflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullflexaround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fullflexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error,
.success {
    font-weight: bold;
    color: red;
}

.success {
    color: green;
}

.button {
    min-width: 200px;
    min-height: 50px;
    background: #333;
    border: none;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-right: 3px solid white;
    border-left: 3px solid white;
    margin: 10px 0px;

    &:hover {
        cursor: pointer;
    }
}

.title {
    color: white;
    font-weight: bold;
    font-size: 100px;
}

.info {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    padding: 30px;
    margin: auto;

    .form-input-container {
        margin: 30px 0px;
        position: relative;

        .form-input-label {
            text-align: left;
            display: block;
            font-weight: bold;
            font-size: 18px;
            color: black;
            margin-bottom: 5px;
        }

        .form-input {
            width: 100%;
            height: 35px;
            display: block;
            outline: none;
            border: none;
            border-bottom: 3px solid white;
            background: none;
            text-indent: 10px;
            font-size: 15px;
            color: white;
            text-align: left;

            &::placeholder {
                color: white;
            }

            &:not(:placeholder-shown) {
                border-left: 3px solid white;
            }
        }

        .form-input[type="submit"] {
            min-width: 250px;
            border: 3px solid white;
            text-align: center;
        }
    }

    .form-text-container {
        margin-top: 10px;

        .form-text {
            text-decoration: none;
            color: black;
            color: white;

            &:hover {
                color: black;
                font-weight: bold;
            }
        }
    }
}

// END OF MAJOR CLASSES

.home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

    .header-info {
        max-width: 200px;
        height: 200px;
    }
}

.register {
    .register-form {
        margin: auto;
    }
}