* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Indie Flower", cursive;
  overflow-x: hidden;
}

.error {
  color: red;
  text-align: center;
  font-weight: bold;
  width: 310px;
}

.success {
  color: green;
  text-align: center;
  font-weight: bold;
}

.form-link-container {
  text-align: center;
  padding-top: 15px;
}

.form-link-container .form-link {
  text-decoration: none;
  color: black;
  color: white;
}

.form-link-container .form-link:hover {
  color: black;
  font-weight: bold;
}

.home {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/home-bg.jpg") no-repeat center center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home-bg.jpg") no-repeat center center;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 55% 45%;
      grid-template-rows: 55% 45%;
}

.home .home-welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.home .home-welcome .home-welcome-text {
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home-welcome .home-welcome-text .buttons {
  padding-top: 20px;
}

.home .home-welcome .home-welcome-text .buttons .btn {
  width: 250px;
  height: 45px;
  display: block;
  margin: 25px 0px;
  border: none;
  border-left: 2px solid white;
  border-right: 2px solid white;
  outline: none;
  background: #333;
  color: white;
  font-family: "Indie Flower", cursive;
  font-size: 20px;
}

.home .home-welcome .home-welcome-text .buttons .btn:hover {
  border: 2px solid white;
  cursor: pointer;
}

.home .home-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home .home-boxes .home-box {
  margin-bottom: 50px;
  width: 200px;
  height: 200px;
  border-bottom: 4px solid white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home-boxes .home-box .home-box-text {
  text-transform: uppercase;
  color: white;
  font-size: 27px;
}

.register {
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../img/home-bg.jpg") no-repeat center center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/home-bg.jpg") no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.register .register-form {
  margin: auto;
  padding: 30px;
}

.register .register-form .input {
  margin: 20px 0px;
  position: relative;
}

.register .register-form .input label {
  display: block;
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-bottom: 5px;
}

.register .register-form .input .register-input[type="text"],
.register .register-form .input .register-input[type="password"] {
  width: 300px;
  height: 35px;
  display: block;
  outline: none;
  border: none;
  border-bottom: 3px solid white;
  background: none;
  text-indent: 10px;
  font-family: "Indie Flower", cursive;
  font-size: 15px;
  color: white;
}

.register .register-form .input .register-input[type="text"]::-webkit-input-placeholder,
.register .register-form .input .register-input[type="password"]::-webkit-input-placeholder {
  color: white;
}

.register .register-form .input .register-input[type="text"]:-ms-input-placeholder,
.register .register-form .input .register-input[type="password"]:-ms-input-placeholder {
  color: white;
}

.register .register-form .input .register-input[type="text"]::-ms-input-placeholder,
.register .register-form .input .register-input[type="password"]::-ms-input-placeholder {
  color: white;
}

.register .register-form .input .register-input[type="text"]::placeholder,
.register .register-form .input .register-input[type="password"]::placeholder {
  color: white;
}

.register .register-form .input .register-input[type="text"]:not(:placeholder-shown),
.register .register-form .input .register-input[type="password"]:not(:placeholder-shown) {
  border-left: 3px solid white;
}

.register .register-form .input .register-input[type="submit"] {
  width: 300px;
  height: 35px;
  margin-top: 30px;
  outline: none;
  border: 3px solid white;
  background: none;
  text-indent: 10px;
  font-family: "Indie Flower", cursive;
  font-size: 15px;
  color: white;
}

.login {
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../img/home-bg.jpg") no-repeat center center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/home-bg.jpg") no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login .login-form {
  margin: auto;
  padding: 30px;
}

.login .login-form .input {
  margin: 20px 0px;
  position: relative;
}

.login .login-form .input label {
  display: block;
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-bottom: 5px;
}

.login .login-form .input .login-input[type="text"],
.login .login-form .input .login-input[type="password"] {
  width: 300px;
  height: 35px;
  display: block;
  outline: none;
  border: none;
  border-bottom: 3px solid white;
  background: none;
  text-indent: 10px;
  font-family: "Indie Flower", cursive;
  font-size: 15px;
  color: white;
}

.login .login-form .input .login-input[type="text"]::-webkit-input-placeholder,
.login .login-form .input .login-input[type="password"]::-webkit-input-placeholder {
  color: white;
}

.login .login-form .input .login-input[type="text"]:-ms-input-placeholder,
.login .login-form .input .login-input[type="password"]:-ms-input-placeholder {
  color: white;
}

.login .login-form .input .login-input[type="text"]::-ms-input-placeholder,
.login .login-form .input .login-input[type="password"]::-ms-input-placeholder {
  color: white;
}

.login .login-form .input .login-input[type="text"]::placeholder,
.login .login-form .input .login-input[type="password"]::placeholder {
  color: white;
}

.login .login-form .input .login-input[type="text"]:not(:placeholder-shown),
.login .login-form .input .login-input[type="password"]:not(:placeholder-shown) {
  border-left: 3px solid white;
}

.login .login-form .input .login-input[type="submit"] {
  width: 300px;
  height: 35px;
  margin-top: 30px;
  outline: none;
  border: 3px solid white;
  background: none;
  text-indent: 10px;
  font-family: "Indie Flower", cursive;
  font-size: 15px;
  color: white;
}

.account,
.profile {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/home-bg.jpg") no-repeat center center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home-bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 70px 100px 1fr 1fr;
      grid-template-rows: 70px 100px 1fr 1fr;
  grid-gap: 20px;
}

.account .modal,
.account .modal2,
.profile .modal,
.profile .modal2 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  display: none;
}

.account .modal .modal-content,
.account .modal2 .modal-content,
.profile .modal .modal-content,
.profile .modal2 .modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
  background: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.account .modal .modal-content .box1,
.account .modal2 .modal-content .box1,
.profile .modal .modal-content .box1,
.profile .modal2 .modal-content .box1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

.account .modal .modal-content .box1 .book-img,
.account .modal2 .modal-content .box1 .book-img,
.profile .modal .modal-content .box1 .book-img,
.profile .modal2 .modal-content .box1 .book-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.account .modal .modal-content .box2,
.account .modal2 .modal-content .box2,
.profile .modal .modal-content .box2,
.profile .modal2 .modal-content .box2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 15px;
}

.account .modal .modal-content .box2 .text,
.account .modal2 .modal-content .box2 .text,
.profile .modal .modal-content .box2 .text,
.profile .modal2 .modal-content .box2 .text {
  font-weight: bold;
  margin-bottom: 10px;
}

.account .modal .modal-content .box3,
.account .modal2 .modal-content .box3,
.profile .modal .modal-content .box3,
.profile .modal2 .modal-content .box3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 15px;
  margin-bottom: 10px;
}

.account .modal .modal-content .box3 .buttons .button,
.account .modal2 .modal-content .box3 .buttons .button,
.profile .modal .modal-content .box3 .buttons .button,
.profile .modal2 .modal-content .box3 .buttons .button {
  margin: 0px 10px;
  margin-top: 30px;
  min-width: 70px;
  height: auto;
  padding: 5px 10px;
  border: none;
  outline: none;
  background: #333;
  color: white;
  border-radius: 10px;
  font-family: "Indie Flower", cursive;
  font-size: 15px;
}

.account .modal .modal-content .box3 .buttons .button:hover,
.account .modal2 .modal-content .box3 .buttons .button:hover,
.profile .modal .modal-content .box3 .buttons .button:hover,
.profile .modal2 .modal-content .box3 .buttons .button:hover {
  cursor: pointer;
}

.account .modal .modal-content .box,
.account .modal2 .modal-content .box,
.profile .modal .modal-content .box,
.profile .modal2 .modal-content .box {
  /*    &:nth-child(even) {
          background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        }
        &:nth-child(odd) {
          background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
        } */
}

.account .modal .modal-content .close,
.account .modal2 .modal-content .close,
.profile .modal .modal-content .close,
.profile .modal2 .modal-content .close {
  font-size: 50px;
  position: absolute;
  top: 5%;
  right: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.account .modal .modal-content .close:hover,
.account .modal2 .modal-content .close:hover,
.profile .modal .modal-content .close:hover,
.profile .modal2 .modal-content .close:hover {
  cursor: pointer;
}

.account .navbar,
.profile .navbar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1/10;
  height: 70px;
  line-height: 70px;
  background-image: -webkit-gradient(linear, left top, right top, from(#4facfe), to(#00f2fe));
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.account .navbar .navbar-logo-items,
.profile .navbar .navbar-logo-items {
  float: left;
  list-style: none;
}

.account .navbar .navbar-logo-items .navbar-logo-item,
.profile .navbar .navbar-logo-items .navbar-logo-item {
  color: white;
  font-weight: bold;
  font-size: 35px;
  margin-left: 30px;
}

.account .navbar .navbar-links-items,
.profile .navbar .navbar-links-items {
  float: right;
}

.account .navbar .navbar-links-items .navbar-links-item,
.profile .navbar .navbar-links-items .navbar-links-item {
  list-style: none;
  float: left;
}

.account .navbar .navbar-links-items .navbar-links-item .navbar-link,
.profile .navbar .navbar-links-items .navbar-links-item .navbar-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 40px;
}

.account .navbar .navbar-links-items .navbar-links-item .navbar-link:hover,
.profile .navbar .navbar-links-items .navbar-links-item .navbar-link:hover {
  color: black;
  cursor: pointer;
}

.account .buy-book,
.profile .buy-book {
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6/10;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 1fr;
      grid-template-rows: 60px 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.account .buy-book .buy-book-title,
.profile .buy-book .buy-book-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 12px;
}

.account .buy-book .buy-books-container,
.profile .buy-book .buy-books-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50%;
      grid-template-columns: 50%;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.account .buy-book .buy-books-container .book,
.profile .buy-book .buy-books-container .book {
  text-align: center;
  position: relative;
}

.account .buy-book .buy-books-container .book .title,
.profile .buy-book .buy-books-container .book .title {
  padding-top: 15px;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}

.account .buy-book .buy-books-container .book .buy-details .price,
.profile .buy-book .buy-books-container .book .buy-details .price {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  color: white;
}

.account .buy-book .buy-books-container .book .buy-details .buy-button,
.profile .buy-book .buy-books-container .book .buy-details .buy-button {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
  width: 70px;
  height: 25px;
  display: block;
  border: none;
  outline: none;
  background: #333;
  color: white;
  border-radius: 10px;
  font-family: "Indie Flower", cursive;
  font-size: 15px;
}

.account .socials,
.profile .socials {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account .socials .social,
.profile .socials .social {
  font-size: 50px;
}

.account .socials .social .fb,
.profile .socials .social .fb {
  color: #3b5998;
}

.account .socials .social .ig,
.profile .socials .social .ig {
  color: #c32aa3;
}

.account .socials .social .tw,
.profile .socials .social .tw {
  color: #1da1f2;
}

.account .socials .social .yt,
.profile .socials .social .yt {
  color: #ff0000;
}

.account .find-book,
.profile .find-book {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account .find-book .find-book-title,
.profile .find-book .find-book-title {
  color: white;
  font-size: 12px;
  margin-right: 30px;
  text-align: center;
}

.account .find-book .find-field,
.profile .find-book .find-field {
  position: relative;
}

.account .find-book .find-field .find-error,
.profile .find-book .find-field .find-error {
  position: absolute;
}

.account .find-book .find-field .find-form,
.profile .find-book .find-field .find-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account .find-book .find-field .find-form .find-button,
.profile .find-book .find-field .find-form .find-button {
  width: 70px;
  height: 35px;
  display: block;
  margin: 25px 0px;
  border: none;
  outline: none;
  background: white;
  font-family: "Indie Flower", cursive;
  font-size: 20px;
}

.account .find-book .find-field .find-form .find-book-input,
.profile .find-book .find-field .find-form .find-book-input {
  width: 200px;
  height: 35px;
  display: block;
  outline: none;
  border: none;
  border-bottom: 3px solid white;
  background: none;
  text-indent: 10px;
  font-family: "Indie Flower", cursive;
  font-size: 15px;
  color: white;
  margin-left: 20px;
}

.account .find-book .find-field .find-form .find-book-input::-webkit-input-placeholder,
.profile .find-book .find-field .find-form .find-book-input::-webkit-input-placeholder {
  color: white;
}

.account .find-book .find-field .find-form .find-book-input:-ms-input-placeholder,
.profile .find-book .find-field .find-form .find-book-input:-ms-input-placeholder {
  color: white;
}

.account .find-book .find-field .find-form .find-book-input::-ms-input-placeholder,
.profile .find-book .find-field .find-form .find-book-input::-ms-input-placeholder {
  color: white;
}

.account .find-book .find-field .find-form .find-book-input::placeholder,
.profile .find-book .find-field .find-form .find-book-input::placeholder {
  color: white;
}

.account .books,
.profile .books {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

.account .books .find-books-container,
.profile .books .find-books-container {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  padding: 30px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.account .books .find-books-container .book,
.profile .books .find-books-container .book {
  position: relative;
  text-align: center;
}

.account .books .find-books-container .title,
.profile .books .find-books-container .title {
  margin-top: 20px;
  font-size: 15px;
  white-space: nowrap;
  font-style: italic;
  color: white;
  text-transform: uppercase;
}

.account .books .find-books-container .checkout-button,
.profile .books .find-books-container .checkout-button {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
  width: 70px;
  height: 25px;
  display: block;
  border: none;
  outline: none;
  background: #333;
  color: white;
  border-radius: 10px;
  font-family: "Indie Flower", cursive;
  font-size: 15px;
}

.account .books .find-books-container .checkout-button:hover,
.profile .books .find-books-container .checkout-button:hover {
  cursor: pointer;
}

.account .account-item,
.profile .account-item {
  /*    &:nth-child(even) {
      background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
      }
    &:nth-child(odd) {
      background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    } */
}

.profile {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/home-bg.jpg") no-repeat center center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home-bg.jpg") no-repeat center center;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 70px 70px 1fr 1fr;
      grid-template-rows: 70px 70px 1fr 1fr;
}

.profile .checked-out-books {
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6/10;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
}

.profile .checked-out-books .checked-out-books-container {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 80px 1fr 1fr;
      grid-template-rows: 80px 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.profile .checked-out-books .checked-out-books-container .checked-out-book-title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-align: center;
  font-size: 12px;
}

.profile .checked-out-books .checked-out-books-container .checked-out-book {
  position: relative;
  text-align: center;
}

.profile .checked-out-books .checked-out-books-container .checked-out-book:nth-child(even) {
  background-image: -webkit-gradient(linear, left top, right top, from(#43e97b), to(#38f9d7));
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.profile .checked-out-books .checked-out-books-container .checked-out-book:nth-child(odd) {
  background-image: -webkit-gradient(linear, left top, right top, from(#4facfe), to(#00f2fe));
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.profile .checked-out-books .checked-out-books-container .checked-out-book .title {
  padding-top: 20px;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}

.profile .checked-out-books .checked-out-books-container .checked-out-book .open-button {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
  width: 70px;
  height: 25px;
  display: block;
  border: none;
  outline: none;
  background: #333;
  color: white;
  border-radius: 10px;
  font-family: "Indie Flower", cursive;
  font-size: 15px;
}

.profile .bought-books {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
}

.profile .bought-books .bought-books-container {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 80px 1fr 1fr;
      grid-template-rows: 80px 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.profile .bought-books .bought-books-container .bought-book-title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-align: center;
  font-size: 12px;
}

.profile .bought-books .bought-books-container .bought-book {
  position: relative;
  text-align: center;
}

.profile .bought-books .bought-books-container .bought-book:nth-child(even) {
  background-image: -webkit-gradient(linear, left top, right top, from(#43e97b), to(#38f9d7));
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.profile .bought-books .bought-books-container .bought-book:nth-child(odd) {
  background-image: -webkit-gradient(linear, left top, right top, from(#4facfe), to(#00f2fe));
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.profile .bought-books .bought-books-container .bought-book .title {
  padding-top: 20px;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}

.profile .bought-books .open-button {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
  width: 70px;
  height: 25px;
  display: block;
  border: none;
  outline: none;
  background: #333;
  color: white;
  border-radius: 10px;
  font-family: "Indie Flower", cursive;
  font-size: 15px;
}

.profile .bought-books-info {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  font-size: 25px;
  padding: 20px;
}

.profile .info1 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.profile .info2 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.cart {
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/home-bg.jpg") no-repeat center center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home-bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 70px 1fr;
      grid-template-rows: 70px 1fr;
  grid-gap: 20px;
}

.cart .box1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 15px;
  padding: 15px;
}

.cart .box1 .boxik1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 70px auto;
      grid-template-rows: 70px auto;
  grid-gap: 15px;
  padding: 15px;
}

.cart .box1 .boxik1 .title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart .box1 .boxik1 .boks1 {
  background: url("../img/books/dancestep.jpg") no-repeat center center;
  background-size: cover;
}

.cart .box1 .boxik1 .boks {
  height: 200px;
  position: relative;
  text-align: center;
  color: white;
}

.cart .box1 .boxik1 .boks:nth-child(even) {
  background-image: -webkit-gradient(linear, left top, right top, from(#b8cbb8), color-stop(0%, #b8cbb8), color-stop(0%, #b465da), color-stop(33%, #cf6cc9), color-stop(66%, #ee609c), to(#ee609c));
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

.cart .box1 .boxik1 .boks:nth-child(odd) {
  background-image: -webkit-gradient(linear, left top, right top, from(#f78ca0), color-stop(19%, #f9748f), color-stop(60%, #fd868c), to(#fe9a8b));
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

.cart .box1 .boxik1 .boks .book-title {
  font-size: 25px;
  margin-top: 10px;
}

.cart .box1 .boxik1 .boks .cancel {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
  width: 70px;
  height: 20px;
  display: block;
  border: none;
  outline: none;
  background: #333;
  color: white;
  border-radius: 10px;
  font-family: "Indie Flower", cursive;
  font-size: 13px;
}

.cart .box1 .boxik1 .boks .price {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}

.cart .box1 .boxik2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 70px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 70px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 15px;
  position: relative;
}

.cart .box1 .boxik2 .title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart .box1 .boxik2 .item {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart .box1 .boxik2 .item .price {
  margin-left: 50px;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.cart .box1 .boxik2 .summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, 85%);
          transform: translate(-50%, 85%);
}

.cart .box1 .boxik2 .summary .total {
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.cart .box1 .boxik2 .summary .paypal {
  width: 100px;
  height: 40px;
  margin-left: 30px;
  margin-bottom: 5px;
  display: block;
  border: none;
  outline: none;
  background: #333;
  color: white;
  border-radius: 10px;
  font-family: "Indie Flower", cursive;
  font-size: 16px;
}

.cart .navbar {
  height: 70px;
  line-height: 70px;
  background-image: -webkit-gradient(linear, left top, right top, from(#4facfe), to(#00f2fe));
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.cart .navbar .navbar-logo-items {
  float: left;
  list-style: none;
}

.cart .navbar .navbar-logo-items .navbar-logo-item {
  color: white;
  font-weight: bold;
  font-size: 35px;
  margin-left: 30px;
}

.cart .navbar .navbar-links-items {
  float: right;
}

.cart .navbar .navbar-links-items .navbar-links-item {
  list-style: none;
  float: left;
}

.cart .navbar .navbar-links-items .navbar-links-item .navbar-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 40px;
}

.cart .navbar .navbar-links-items .navbar-links-item .navbar-link:hover {
  color: black;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */