<!--  MySQL -->

DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=

<!--  jsonwebtoken secret key -->

JWT_KEY=

<!--  test api keys from https://dashboard.stripe.com -->

STRIPE_SECRET_KEY=

<!--  credentials for certain app from https://developers.facebook.com/apps -->

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

<!-- credentials to email -->

NODEMAILER_USERNAME=
NODEMAILER_PASSWORD=

<!--  credentials for certain app from https://developer.paypal.com -->

PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=

<!--  npm package web-push (web-push generate-vapid-keys) -->

PRIVATE_VAPID_KEY=
REACT_APP_PUBLIC_VAPID_KEY=

<!--  credentials for storage from https://cloudinary.com -->

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
