<!--  credentials for storage from https://cloudinary.com -->
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_NAME=

<!--  MySQL -->
DATABASE_HOST=
DATABASE_NAME=
DATABASE_PASSWORD=
DATABASE_USERNAME=

<!--  jsonwebtoken secret key -->
JWT_KEY=

<!-- credentials to email -->
NODEMAILER_USERNAME=
NODEMAILER_PASSWORD=

<!--  credentials for certain app from https://developer.paypal.com -->
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=

<!--  npm package web-push (web-push generate-vapid-keys) -->
PRIVATE_VAPID_KEY=
REACT_APP_PUBLIC_VAPID_KEY=

<!--  credentials for certain app from https://developers.facebook.com/apps -->
REACT_APP_FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

<!--  test api keys from https://dashboard.stripe.com -->
STRIPE_SECRET_KEY=

<!-- it's needed for heroku to install dev dependencies -->
NPM_CONFIG_PRODUCTION=false
