.home {
    display: flex;

    .home__header {
        flex: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        align-self: stretch;
    }

    .home__header-text {
        color: white;
        font-size: 70px;
        text-align: center;
        padding: 0px 20px;
    }

    .home__header-link {
        width: 200px;
        color: white;
        font-size: 15px;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        cursor: pointer;
        background: rgb(51, 51, 51);
        border-right: 2px solid white;
        border-left: 2px solid white;
        margin: 25px 0px;
        padding: 19px 0px;
        transition: 0.5s;
        text-decoration: none;

        &:hover {
            transform: scale(1.05);
        }
    }

    .home__advantages {
        flex: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        align-self: stretch;
    }

    .home__advantage {
        color: white;
        font-size: 25px;
        text-align: center;
        max-width: 50%;
    }
}

@media (max-width: 800px) {
    .home {
        .home__advantages {
            display: none;
        }

        .home__header-text {
            color: white;
            font-size: 70px;
            text-align: center;
            padding: 0px 20px;
        }

        .home__header-link {
            font-size: 14px;
        }

        .home__header-text {
            font-size: 60px;
        }
    }
}

@media (max-width: 600px) {
    .home {
        .home__header-text {
            font-size: 50px;
        }

        .home__header-link {
            font-size: 14px;
            width: 180px;
            padding: 16px 0px;
        }
    }
}