*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: 'Indie Flower', cursive !important;
    letter-spacing: 2px;
    outline: none;
}

html,
body,
#root {
    height: 100%;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

button,
input,
label {
    display: block;
}

img {
    text-indent: -999px;
}

button,
input {
    font-size: 16px;
    background: none;
    border: none;
    filter: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    border: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: white !important;
    transition: background-color 9999s ease-in-out 0s;
}
