.store {
    flex-direction: column;

    .store__suggestions {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        background: white;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        z-index: 2;

        .store__suggestion {
            margin: 15px 0px;
            cursor: pointer;
            font-size: 14px;
            max-width: 60%;
            text-align: center;
        }
    }
}

@media (max-width: 850px) {
    .store {
        .store__suggestions {
            .store__suggestion {
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 400px) {
    .store {
        .store__suggestions {
            .store__suggestion {
                font-size: 12px;
            }
        }
    }
}